<div class="col-md-8 col-md-offset-2 text-center">
  <h1><%= @article.title %></h1>
  <hr />
  <div class="text-left">
    <%= @article.html_body.html_safe %>
  </div>
  <ul class="media-list">
    <%= render partial: 'comments_branch', locals: { branches: @article.comments_tree } %>
  </ul>
</div>
